= render :partial => 'shared/header'
#map-canvas
#filter-panel
  = form_for @search, :url => companies_url do |f|
    %ul
      %li
        = f.text_field :name_contains
    %ul#switches
      - Category.all.each do |category|
        %li.category
          .padding
            %h3
              %a.menu{ :href => '#', :'data-target' => "#category_#{category.id}" }
                = category.name
            %a.category-switch{ :href => '#', :'data-value' => 'on', :'data-target' => "#category_#{category.id}" }
              = image_tag 'switch-on.png'
        %li{ :id => "category_#{category.id}", :style => 'display:none' }
          %ul.submenu
            - category.tags.each do |tag|
              %li
                .padding
                  %h4
                    = tag.name
                  %a.switch{ :href => '#', :'data-value' => 'on', :'data-target' => "#search_tag_id_#{tag.id}" }
                    = image_tag 'switch-on.png'
    %ul.hide
      - Category.all.each do |category|
        %li
          = category.name
          %ul
            - category.tags.each do |tag|
              %li
                = tag.name
                = check_box_tag "search[tags_id_in][]", tag.id, false, :id => "search_tag_id_#{tag.id}"
      %li
        = f.label :has_funding_search_filter
        = f.check_box :has_funding_search_filter
      %li
        = f.label :searches_for_funding_search_filter
        = f.check_box :searches_for_funding_search_filter
      %li
        = f.label :is_hiring_search_filter
        = f.check_box :is_hiring_search_filter