= semantic_form_for(@company) do |f|
  %h3 General information
  = f.inputs :name => "Basic" do
    = f.input :name
    = f.input :description
    = f.input :street
    = f.input :zip
    = f.input :city
    = f.input :url
    = f.input :email
    = f.input :logo, :as => "uploader"

  %h3 Categories
  = f.inputs :name => "Categories" do
    = f.input :category, :collection => Category.all, :include_blank => false

  - Category.all.each do |category|
    %div{ :id => "tags_for_category-#{category.id}", :class => "tags_for_category" }
      = f.input :tags, :as => :check_boxes, :collection => category.tags

  = f.actions do
    = f.action :submit, :as => :button
    = f.action :cancel, :as => :link
