= render :partial => 'shared/header'
#container
  %h2
    Here comes a list
  .functions
    = link_to "Neues Startup hinzufügen", new_company_path
  %table
    %thead
      %tr
        %th
          Name
        %th
          City
        %th
          Description
    %tbody
      - @companies.each do |company|
        %tr
          %td
            = link_to company.name, company_path(company)
          %td
            %a{ :href => '#', :title => "#{company.lon}, #{company.lat}" }
              = company.city
          %td
            = company.description
