!!!
%html
  %head
    %title Digital Media Map
    %meta(charset="utf-8")
    = stylesheet_link_tag "stylesheets/reset"
    = stylesheet_link_tag "application"
    = csrf_meta_tags

  %body
    = yield
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false", "application"

